body {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;
  text-align: center;
  color: #808080;
}

#header {
  height: 300px;
  margin-bottom: 50px;
}

#logo {
  width: 150px;
  height: 150px;
  border: 2px solid #FABE1F;
  margin: 60px auto;
}

#nav div {
  display: inline;
  border-right: 1px solid #808080;
  padding: 10px 15px 10px 13px;
}

#nav div:nth-child(1) {
  border-left: 1px solid #808080;
}

a {
  text-decoration: none;
  color: #808080;
}

a:hover {
  text-decoration: none;
  color: #FABE1F;
}

#post, #new-post, #edit-post, #new-comment, #edit-comment {
  border-top: 1px solid #808080;
  padding-top: 20px;
  padding-bottom: 40px;
  width: 90%;
  margin: 0 auto;
}

img {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

#content {
  text-align: left;
}

#author-tags {
  text-align: left;
  margin-top: 20px;
}

#author-tags p {
  margin-bottom: 5px;
}

form {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}

#save-btn {
  margin-top: 20px;
  background-color: #FABE1F;
}

#delete-btn {
  background-color: #FABE1F;
}

#save-btn:hover, #delete-btn:hover {
  background-color: #E6E6E6;
}

#all-tags {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 40px;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer {
  width: 88%;
  height: 100px;
  border-top: 1px solid #808080;
  margin: 0 auto;
  margin-top: 50px;
}